.container {
  display: flex;
  gap: 64px;
  margin: 0 auto;
  padding: 0 64px;
  height: calc(100vh - 72px);
  max-width: 1440px;
}

.sidebar {
  flex-shrink: 0;
  width: 360px;
}

.content {
  flex-grow: 1;
  width: 200px;
  height: 100%;
}
