.button {
  display: inline-block;
  padding: 16px 40px;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.005em;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-color);

  background-color: var(--accent-primary-color);
  border-radius: 200px;
  border: none;

  cursor: pointer;

  transition: background-color 250ms linear;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--accent-secondary-color);
  }
}

@media (hover: none) {
  .button:active {
    background-color: var(--accent-secondary-color);
  }
}
