.container {
  padding: 48px 0;
  height: 100%;
  width: 100%;

  overflow-y: auto;
  scrollbar-width: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.button {
  padding: 16px 32px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.005em;
  text-align: center;
  color: var(--text-primary-color);

  background-color: transparent;
  border: 1px solid var(--line-color);
  border-radius: 200px;
  cursor: pointer;

  transition: border-color 250ms linear;
}

@media (hover: hover) {
  .button:hover {
    border-color: var(--accent-secondary-color);
  }
}

@media (hover: none) {
  .button:active {
    border-color: var(--accent-secondary-color);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 58px;
}

.text {
  text-align: center;
  color: var(--text-secondary-color);
}
