.container {
  display: flex;
  gap: 24px;
  padding: 24px;
  min-height: 368px;

  border-radius: 20px;
  border: 1px solid var(--line-color);
}

.info {
  width: calc(100% - 292px - 24px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 24px;
}

.desc {
  margin-bottom: 24px;
  width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary-color);
}

.button {
  margin-top: 24px;
  min-width: 166px;
}

.action-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 24px;
}
