.form {
  padding: 44px 57px;

  border: 1px solid var(--line-color);
  border-radius: 10px;
}

.title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.text {
  margin-bottom: 24px;

  color: var(--label-color);
}

.comment {
  display: block;
  height: 118px;
  margin-bottom: 24px;
}

.container {
  margin-bottom: 14px;
}

.error {
  margin-top: 4px;

  color: var(--accent-primary-color);
}
